@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&family=New+Amsterdam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&family=New+Amsterdam&family=Oswald:wght@200..700&display=swap");

:root {
  --anek-font: "Anek Tamil", sans-serif;
  --arial-font: "Arial", sans-serif;
  --amster-font: "New Amsterdam", sans-serif;
  --oswald-font: "Oswald", sans-serif;
}

.textWrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.textWrapperOne {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.textWrapperTwo {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.textWrapperThree {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.textWrapperFour {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.textWrapperFive{
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.textWrapperSix {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.textWrapperSeven {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.textWrapper-four {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.video-section-wrapper {
  position: relative;
  display: grid;
  place-items: center;
}

.video-section-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: inset 0px -30px 60px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -30px 60px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -30px 60px -4px rgba(0, 0, 0, 0.75);
}

.shorts-shadow {
  position: relative;
}

.shorts-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: inset 0px -26px 71px 43px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -26px 71px 43px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -26px 71px 43px rgba(0, 0, 0, 0.75);
  /* z-index: 1; */
}

/* .shorts-shadow li {
  z-index: 12;
} */

/* .user-profile-img:hover {
  background-color: #fb6002;
}

.user-profile-img:hover svg {
  fill: black;
} */

.photo-card::after {
  position: absolute;
  content: "";
  width: 95%;
  top: 0%;
  bottom: -10px;
  left: 2%;
  border-radius: 10px;
  background-color: #666666;
  z-index: -1;
}

.photo-card::before {
  position: absolute;
  content: "";
  width: 88%;
  top: 0%;
  bottom: -16px;
  left: 6%;
  border-radius: 10px;
  background-color: #4e4e4e;
  z-index: -2;
}

/* ::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: #fb6002;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.border-class::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 0%;
  height: 95%;
  border: 0.1px solid #666666a1;
  mix-blend-mode: difference;
  opacity: 0.4;
}

.border-class-big::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 0%;
  height: 96%;
  border: 0.1px solid #666666a1;
  opacity: 0.4;
  mix-blend-mode: difference;
}

.border-class-category-sep::before {
  content: "";
  position: absolute;
  top: 55px;
  right: 0;
  width: 0%;
  height: 92%;
  border: 0.1px solid #666666a1;
  opacity: 0.4;
  mix-blend-mode: difference;
}

.border-class-category-secondary::before {
  content: "";
  position: absolute;
  top: 55px;
  right: 0;
  width: 0%;
  height: 91.5%;
  border: 0.1px solid #666666a1;
  opacity: 0.4;
  mix-blend-mode: difference;
}

.border-class-cat::before {
  content: "";
  position: absolute;
  top: 70px;
  right: 0;
  width: 0%;
  height: 96.4%;
  border: 0.1px solid #666666a1;
  opacity: 0.4;
  mix-blend-mode: difference;
}

.border-class-add::before {
  content: "";
  position: absolute;
  top: 50px;
  right: 0;
  width: 0%;
  height: 93%;
  border: 0.1px solid #666666a1;
  mix-blend-mode: difference;
}

.border-class-two::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 85%;
  border: 0.1px solid #666666a1;
  mix-blend-mode: difference;
  opacity: 0.4;
}

.primary-border-class::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 97%;
  border: 0.1px solid #666666a1;
  opacity: 0.4;
}

.blink-2 {
  -webkit-animation: blink-2 0.9s infinite both;
  animation: blink-2 0.9s infinite both;
}

hr {
  opacity: 0.5;
}

.article-list {
  position: relative;
}

.article-list::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #fb6002;
  border-radius: 50%;
}

.news-content * {
  background-color: inherit !important;
  /* color: inherit !important; */
  color: inherit;
}

.news-content img {
  width: 100%;
  object-fit: contain;
  height: fit-content;
}

a {
  color: inherit;
  text-decoration: none;
}

iframe {
  width: 100%;
}

.ping {
  -webkit-animation: ping 0.8s ease-in-out infinite both;
  animation: ping 0.8s ease-in-out infinite both;
}

@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}

@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.liveTvBox::before {
  content: "v";
  position: absolute;
  top: -30px;
  left: 50%;
  z-index: -2;
  font-size: 37px;
  transform: translateX(-45%);
}

.mobile-nav ::-webkit-scrollbar {
  height: 2px;
}

img:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}

hr {
  opacity: 0.1 !important;
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.bounce-in-right {
  -webkit-animation: bounce-in-right 1.1s both;
  animation: bounce-in-right 1.1s both;
}

@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.accordion-content .MuiAccordionSummary-content {
  margin: 0 !important;
}

.accordion-content {
  min-height: inherit !important;
}

.checked-label-mode svg {
  fill: #fb6002 !important;
}

/* ------------------------------------------- */

.Login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("https://img.freepik.com/free-vector/modern-colorful-watercolor-background_1055-7132.jpg?t=st=1725619756~exp=1725623356~hmac=f22cacb5a9750a60d5647d5262eabc86a305a7a4a7f5d271f832f6e52cad58b2&w=740");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-field .MuiOutlinedInput-notchedOutline {
  bottom: -10px;
  top: 0px;
}

.login-field .MuiInputBase-input {
  background-color: #fff !important;
}

.login-field fieldset {
  border-color: rgba(0, 0, 0, 0.23) !important;
}

.login-field label {
  color: rgba(0, 0, 0, 0.6) !important;
}

.login-screen-container {
  padding: 32px 24px 52px 24px;
  border-radius: 8px;
  background-color: #fff;
}

.welcome-text h6 {
  color: #000000a1;
  font-size: 24px;
  text-align: center;
  font-family: var(--arial-font);
  margin: 12px 0 0 0;
}

.forget-password-text {
  color: #fb6002;
  font-family: var(--arial-font);
}

.checkbox-text span {
  font-family: var(--arial-font);
}

.login-field .MuiInputBase-input {
  padding-bottom: 2px;
}

.tooltip-arrow:after {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid #dedede;
  position: absolute;
  top: -18px;
  right: 20px;
  transform: rotate(180deg);
}

.photos-photo {
  transform: scale(1) !important;
}

/* Default for mobile screens */
.flip-page-main {
  width: 100vw !important;
  height: 100vh !important;
}

.web-story .swiper-button-prev,
.web-story .swiper-button-next {
  color: #fb6002 !important;
}

.mob-cards .swiper-button-prev,
.mob-cards .swiper-button-next {
  color: #fb6002 !important;
}

.mob-cards .swiper-button-prev::after {
  z-index: 200 !important;
  position: relative !important;
  font-size: 60px !important;
}

.mob-cards .swiper-button-next::after {
  z-index: 200 !important;
  position: relative !important;
  font-size: 60px !important;
}

.breaking-btn-wrapper .swiper-button-prev::after,
.breaking-btn-wrapper .swiper-button-next::after {
  font-size: 20px !important;
  color: #fb6002 !important;
  font-weight: 600 !important;
}

.india-category-line::after {
  content: " ";
  width: 1px;
  height: 99.5%;
  position: absolute;
  background-color: #f1f1f1;
  top: 0.4%;
  left: 15px;
}

.india-category-line::before {
  content: " ";
  width: 2px;
  height: 99.5%;
  position: absolute;
  background-color: #f1f1f1;
  top: 0.4%;
  right: -15px;
}
/* Custom Pagination Bullets */
.custom-pagination .custom-bullet {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.custom-pagination .custom-bullet-active {
  background-color: #fb6002; /* Active bullet color */
}

/* Custom Navigation Arrows */
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fb6002;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  font-weight: bold;
  font-size: 18px;
  height: 40px;
  /* border-radius: 50%; */
}

.custom-prev {
  right: 30%; /* Position of previous arrow */
}

.custom-next {
  right: 30%; /* Position of next arrow */
  top: 60%;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: #000; /* Change color on hover */
}

.shake-vertical {
  -webkit-animation: shake-vertical 3s ease-in-out infinite both;
  animation: shake-vertical 3s ease-in-out infinite both;
}

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

/* CSS for fade and slide animations */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.slide-in {
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 5s ease-in-out infinite;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}


@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1.2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
/* 
.swiper-button-custom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  color: black;
  font-size: 20px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
} */
